#searchbar_in{
	margin-left: -1px;
}
footer{
	padding-top: 15px;
	padding-bottom: 30px;
	background-color: #333;
	color: #ccc;
}
#addStream{
	margin-bottom: 0px;
}

#streampicture{
	position: absolute;
    bottom:0;
    right: 0;
}
#alert{
	margin-bottom: 0px;
	display: none;
}